@tailwind components;

@layer components {
  // Bouton incliné et droit jaune
  .btn-slanted-violet {
    @apply font-poppins font-extrabold px-5 py-3 bg-white text-black uppercase 
    relative overflow-hidden text-2xl border-none outline-none focus:ring-0 
    transition-transform duration-500 ease-out hover:scale-110;
    border: none;
    &::after {
      content: "";
      @apply absolute  inset-0 scale-x-0 origin-left transition-transform duration-300 ease-in-out;
      background-image: linear-gradient(90deg, #19003a, #6200ff);
      z-index: -1;
    }

    & > span {
      @apply relative z-10;
    }

    &:hover {
      @apply text-white;

      &::after {
        @apply scale-x-100;
      }
    }
  }

  // Ajustement pour le bouton incliné
  .btn-slanted-violet {
    @apply skew-x-[-10deg];
  }
}
