@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --yellow-400: #ffd700;
  --black: #000000;
  --white: #ffffff;
  --gray-800: #2d3748;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  overflow-x: hidden;
}

.pagination {
  @apply flex justify-center my-8 space-x-2;
}

.pagination li {
  @apply px-4 py-2 rounded bg-gray-200 text-gray-800 cursor-pointer hover:bg-gray-300 transition;
}

.pagination .active {
  @apply bg-purple-500 text-white font-bold;
}

.pagination .disabled {
  @apply opacity-50 cursor-not-allowed;
}

.card-list {
  background-image: linear-gradient(95deg, #1a0736, #4b0082, #1a0736);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/bg-transparent.png");
    background-size: cover;
    z-index: -1;
    opacity: 0.3;
  }
}
