@tailwind components;
@layer components {
  p,
  a,
  span,
  input,
  label,
  textarea,
  select,
  option,
  Link {
    font-family: "Poppins", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    font-family: "Goldman", sans-serif;
    font-weight: bold;
  }

  .title-underline {
    @apply h-1.5 w-80 block mx-auto mt-2 skew-x-[-15deg];
    background: linear-gradient(
      45deg,
      #ffffff,
      #e5e5e5 20%,
      #6a00ff 60%,
      #e5e5e5 63%,
      #ffffff 100%
    );
    background-size: 200% 200%;
  }

  .nav-item {
    @apply font-semibold text-blue-950 uppercase text-lg;
  }

  .amethyst-text {
    background: linear-gradient(
      45deg,
      #260041,
      #330075 20%,
      #c8a2ff 60%,
      #330075 63%,
      #260041 100%
    );
  }

  .amethyst-text-log {
    background: linear-gradient(
      45deg,
      #dabcff,
      #9243fb 20%,
      #c8a2ff 60%,
      #9243fb 63%,
      #dabcff 100%
    );
  }
}
.amethyst-text,
.amethyst-text-log {
  background-size: 400% 400%;
  animation: shimmer 12s infinite ease-in-out;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Goldman";
  src: url("/fonts/Goldman-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Goldman";
  src: url("/fonts/Goldman-Bold.ttf") format("truetype");
  font-weight: 700;
}
